<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">



<body>
  
  @if (logouting) {
    <div class="sure-logout">
      <div class="popup">
        <label> Are you sure you want to log out? </label>
        <div class="logout-btns">
          <button (click)="logout()">Yes</button>
          <button (click)="cancelLogout()">No</button>
        </div>
      </div>
    </div>
  }
  
  <div class="header-container">
    <img src="home.png" class="img-tag" (click)="showConfirmLogout()">
    <h1>Ecommerce System</h1>
  </div>

<table class="products-table" >
  <caption>Products Table</caption>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    @for(product of products.content; track $index) {
      <tr>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
      </tr>         
    }      
  </tbody>
</table>
</body>

<div class="footer-container">
  <div class="div-left" ></div>
  <div class="middle-btn">
    <button (click)="navigateToPage(actualPage - 2)" id="two-backward" [disabled]="actualPage < 3"><<</button>
    <button (click)="navigateToPage(actualPage - 1)" id="one-backward" [disabled]="actualPage < 2"><</button>
    <button id="actual-page-btn">{{actualPage}}</button>
    <button (click)="navigateToPage(actualPage + 1)" [disabled]="actualPage == totalPages">{{actualPage + 1}}</button>
    <button (click)="navigateToPage(actualPage + 2)" [disabled]="actualPage >= (totalPages - 1)">{{actualPage + 2}}</button>
    <button (click)="navigateToPage(actualPage + 3)" [disabled]="actualPage >= (totalPages - 2)">{{actualPage + 3}}</button>
    <button (click)="navigateToPage(actualPage + 1)" id="one-forward" [disabled]="actualPage >= totalPages">></button>
    <button (click)="navigateToPage(actualPage + 2)" id="two-forward" [disabled]="actualPage >= (totalPages - 1)">>></button>
  </div>    
  <div class="div-right">
    <button (click)="showConfirmLogout()">Logout</button>
  </div>
</div>
